[Unit]
Description=Run tracker backend
After=network.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/app/app1
WorkingDirectory=/home/ubuntu/app
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=myapp
Environment=APP_ENV=production


[Install]
WantedBy=multi-user.target